<!DOCTYPE html>
<html lang=”en”>
  <head>
     <meta charset=”UTF-8">
     <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
     <title>Account Info</title>    
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,600,0,0&icon_names=home,search" />
    

  </head>
  <body>

    <h1> Media Rented By Account </h1>
    <%-result%>
    <br> 
    <span class="material-symbols-outlined"><a href="/">home</a></span>
   
  </body>

  <style>

    h1 {
        color: #1a6d62;
        font-family: "Signika";
    }

    body {
        padding-top: 2rem;
        padding-left: 4rem;
        background-color: #f8c0c8ad;
        font-size: 1.6rem;
        color:  #1c3a5f;
     
    }

    #button {
    background-color: #f8c0c8ad;
    border: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: solid;
  }
  
    a:visited{
        color:#98618c
    }

    a {
        color: #1a6d62;
    }
  </style>

</html>
