<!DOCTYPE html>
<html lang=”en”>
  <head>
     <meta charset=”UTF-8">
     <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
     <title>Rent Media</title>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,600,0,0&icon_names=home,search" />

  </head>

  <body>  
    <h1> Rented <%-item%> </h1>
    <%-img%><%-other%>
   
    <br>
    <%-data%>
    <br>
    

    <span class="material-symbols-outlined"><a href="/">home</a></span>
  </body>

  <style>
    body {
        padding-top: 2rem;
        padding-left: 4rem;
        background-color: #f8c0c8ad;
        font-size: 1.6rem;
        color:  #1c3a5f;
     
    }

    input[type=text], input[type=password] {
       
        font-size: 1.4rem;
    }

    h1 {
        color: #1a6d62;
        font-family: "Signika";
    }

    a{
        text-decoration: none;
        color: #1a6d62
        
    }
    
    video {
        padding-left: 1rem;
    }
  </style>
</html> 